<div id="nova_avaliacao" class="para_avaliar borda_bttm">
    <h4>Quinta-feira, 03 de julho de 2025</h4>
    <div class="avaliar_i1">
        <img src="/assets/img/team.svg">
        <div class="pedido_i2">
            <h3>Equipe A</h3>
            <p class="p_custom">Exercício Incremental 3</p>
            <p class="p_custom">Programação Orientada a Objetos</p>
        </div>
        <div class="btn_ar">
            <button class="avaliar custom_button">Avaliar agora</button>
        </div>
    </div>
</div>