<div id="novo_pedido" class="friend borda_bttm">
        <div class="friend-name-pic">
            {{{profile-picture}}}
            <h5><a href={{profile-link}}>{{collaborator-name}}</a></h5>
        </div>

        <div class="btn_ar">
            <button id="invite-colaboration" class="btn btn-primary">Colaborar</button>
        </div>
</div>