<div class="center">
    <section class="cta">
        <img src="/local/trustymatchmaker/assets/img/team_cta.svg" class="cta_img">
        <h2 class="h2_center">Colabore com confiança e descubra parceiros que fazem a diferença!</h2>
        <p>Não sabe com quem colaborar?</p>
        <button id="btn-get-recommendations" class="btn btn-primary mb-3">
            <i class="fa-solid fa-wand-magic-sparkles"></i> Sugerir Colaboradores
        </button>
    </section>
</div>