<div class="center">
    <section class="cta">
        <img src="/local/trustymatchmaker/assets/img/team_cta.svg" class="cta_img">
        <h2 class="h2_center">Colabore com confiança e descubra parceiros que fazem a diferença!</h2>
        <p>Não sabe com quem colaborar?</p>
        <input type="submit" class="btn btn-primary" name="find_team" id="id_find_team" value="Encontre sua equipe">
    </section>
</div>