<div class="center">
    <nav class="center custom_nav">
        <ul class="secondarynav">
            <li><a href="#" class="selected">Colaboração</a></li>
            <li><a href="#">Tarefas</a></li>
            <li><a href="#">Equipes</a></li>
        </ul>
    </nav>
</div>