<div id="novo_pedido" class="friend borda_bttm">
        <div class="friend-name-pic">
            {{{profile-picture}}}
            <h5><a href={{profile-link}}>{{friend-name}}</a></h5>
        </div>

        <div class="btn_ar">
            <button id="invite-colaboration" class="btn btn-primary">Colaborar</button>
            <button id="unfriend" class="btn btn-secondary">Remover dos contatos</button>
        </div>
</div>