<div class="d-flex align-items-center margem">
    <div class="me-auto">
        <div class="page-context-header d-flex align-items-center mb-2">
            <div class="page-header-image">
                {{{imagem_perfil}}}
            </div>
            <div class="page-header-headings">
                <h1 class="h2 mb-0">{{username}}</h1>
            </div>
        </div>
    </div>
</div>