<div id="{{modal_id}}" class="medal-popup-overlay">
    <div class="medal-popup-content">
        <a href="#" class="medal-popup-back medal-popup-close">&#8592;</a>
        <div class="medal-popup-header">
            <img src="{{icon}}" alt="Ícone de {{name}}">
            <h2>{{name}}</h2>
        </div>
        <div class="medal-popup-body">
            <p>{{description}}</p>
            
            <h4>Medalha concedida por</h4>
            <ul class="medal-issuers-list">
            {{#issuers}}
                <li class="medal-issuer-item">
                    {{{profile_pic}}} 
                    <span>{{fullname}}</span>
                </li>
            {{/issuers}}
            {{^issuers}}
                <li><p>Ninguém concedeu esta medalha ainda.</p></li>
            {{/issuers}}
            </ul>
        </div>
    </div>
</div>