<div class="medal-icon-item">
    <a href="#" class="medal-trigger" data-modal-id="{{modal_id}}">
        <div class="medal-icon-image">
            <img src="{{icon_url}}" alt="Ícone da medalha {{name}}">
            {{#has_count}}
                <span class="medal-count">x{{count}}</span>
            {{/has_count}}
        </div>
    </a>
    <span class="medal-icon-name">{{name}}</span>
</div>