<div id="modal-select-medal" class="medal-popup-overlay">
    <div class="medal-popup-content">
        <a href="#" class="medal-popup-back medal-popup-close" title="Fechar">&times;</a>
        
        <div class="medal-popup-header">
            <h2>Escolha até duas medalhas</h2>
            <p></p>
            <p class="text-center text-muted mb-4">Selecione a característica que você deseja reconhecer neste colaborador.</p>
        </div>
        
        <div class="medal-popup-body">
            <div class="medal-grid">
                {{#medals_catalog}}
                    <div class="medal-icon-item">
                        <a href="#" class="medal-selectable" data-medalid="{{id}}">
                            <div class="medal-icon-image"
                                data-medalid="{{id}}" 
                                title="{{description}}"> 
                        
                                <img src="{{icon_url}}" alt="{{name}}">
                            </div>
                            <span class="medal-icon-name">{{name}}</span>
                        </a>
                    </div>
                {{/medals_catalog}}
            </div>
            
            <div class="mt-3 text-center">
                <button id="btn-confirm-medal" class="btn btn-primary" disabled> </button>
            </div>
        </div>
    </div>
</div>