<div class="overall-score d-flex flex-column">
    <div class="overall-stars-wrapper d-flex">
        <div class="star-rating">
            <div class="back-stars">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="front-stars" style="width: {{fill}}%;">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div class="score-value overall">{{score}}</div>
    </div>
    <div class="score-name overall">{{name}}</div>
</div>
