<div id="novo_pedido" class="pedido borda_bttm">
    <div class="pedido_i1">
        <img src="/assets/img/team.svg">
        <div class="pedido_i2">
            <h3>{{nome_equipe}}</h3>
            <p class="p_custom">{{nome_atividade}}</p>
            <p class="p_custom">{{nome_curso}}</p>
        </div>
        <div class="btn_ar">
            <button class="aceitar custom_button">Aceitar</button>
            <button class="recusar custom_button">Recusar</button>
    </div>
    </div> 
</div>