<div class="center">
    <nav class="center custom_nav">
        <ul class="secondarynav">
            <li><a href="#" class="selected">Informações pessoais</a></li>
            <li><a href="#">Medalhas</a></li>
            <li><a href="#">Amigos</a></li>
            <li><a href="#">Colaboradores</a></li>
        </ul>
    </nav>
</div>