<div class="score-item d-flex align-items-center">
    <div class="score-name">{{name}}</div>
    <div class="tooltip-description">
    <i class="fa-regular fa-circle-question"></i>
    <span class="tooltip-text">{{description}}</span>
    </div>
    <div class="star-rating">
        <div class="back-stars">
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
        </div>
        <div class="front-stars" style="width: {{fill}}%;">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </div>
    </div>
    <div class="score-value">{{score}}</div>
</div>