<div class="primary-navigation navbar_custom container-fluid navbar-light bg-white navbar-expand">
    <nav class="moremenu navigation observed">
        <ul class="nav more-nav navbar-nav">
            <li class="nav-item"><a class="nav-link {{#inicial}}active{{/inicial}}" href="/local/trustymatchmaker/index.php">Página inicial</a></li>
            
            <li class="nav-item"><a class="nav-link {{#perfil}}active{{/perfil}}"  href="/local/trustymatchmaker/profile.php">Perfil</a></li>
        </ul>
    </nav>
</div>
