<div class="center">
    <nav class="center custom_nav">
        <ul class="secondarynav">
            <li><a href={{linkInfo}} class="{{#info}}selected{{/info}}">Informações pessoais</a></li>
            <li><a href={{linkMedals}} class="{{#medals}}selected{{/medals}}">Medalhas</a></li>
            <li><a href={{linkFriends}} class="{{#friends}}selected{{/friends}}">Amigos</a></li>
        </ul>
    </nav>
</div>

